[tool.poetry]
name = "snakebids"
version = "0.6.1"
description = "BIDS integration into snakemake workflows"
readme = "README.md"
repository = "https://github.com/akhanf/snakebids"
documentation = "https://snakebids.readthedocs.io/"
authors = ["Ali Khan <alik@robarts.ca>"]
license = "MIT"
packages = [
    { include = "snakebids" }
]
exclude = ["snakebids/tests/**"]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
pybids = "^0.15.0"
snakemake = ">=5.28.0"
PyYAML = "^6"
cookiecutter = "^2.1.1"
colorama = "^0.4.4"
typing-extensions = "^3.10.0"
attrs = "^21.2.0"
boutiques = "^0.5.25"
more-itertools = "^8.12.0"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
pytest = "^7.0.0"
pytest-mock = "^3.7.0"
pylint = "^2.12.0"
isort = "^5.10.1"
flake8 = "^4.0.1"
poethepoet = "^0.13.0"
pre-commit = "^2.17.0"
mkinit = "^0.3.3"
hypothesis = "^6.34.1"
pytest-benchmark = "^3.4.1"

[tool.poetry.scripts]
snakebids = "snakebids.admin:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
setup = "pre-commit install"
quality = { shell = "isort snakebids && black snakebids && flake8 snakebids && pylint snakebids" }
test = "pytest --doctest-modules --ignore=docs --ignore=snakebids/project_template --benchmark-disable"
mkinit = "mkinit --recursive --nomods --black -i snakebids"
benchmark = "pytest --benchmark-only --benchmark-autosave"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pylint.master]
ignore-patterns = "^[0-9][0-9]+_,^test_,^__init__"

[tool.pylint.format]
good-names = "i,j,k,ex,_,x,y,f,d"

[tool.pylint.messages_control]
disable = """
    missing-function-docstring,
    missing-module-docstring,
    fixme
"""
