[tool.poetry]
name = "{{ app_full_name }}"
version = {{ app_version | toml_string }}
description = {{ app_description | toml_string }}
readme = "README.md"
{% if license -%}
license = {{ license | toml_string }}
{%- endif %}
{% if full_name -%}
authors = [
    {% if email -%}
        {{ (full_name + " <" + email + ">") | toml_string }}
    {%- else -%}
    {{ full_name | toml_string }}
    {%- endif %}
]
{%- endif %}
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "{{ python_version }}"
snakemake = ">=8.1.2"
snakebids = {{ snakebids_version | format_poetry }}
pandas = [{ version = ">=2.1.1", python = ">=3.12" }]

[tool.poetry.dev-dependencies]
black = "^24.0.0"
isort = "^5.10.1"
poethepoet = "^0.10.0"
snakefmt = "^0.10.0"

[tool.poetry.scripts]
{{ name_slug }} = "{{ name_slug }}.run:app.run"

[tool.poe.tasks]
quality_check = { shell = "isort {{ app_full_name }}/*.py && black {{ app_full_name }} --check && snakefmt {{ app_full_name }} --check" }
quality_fix = { shell = "isort {{ app_full_name }}/*.py && black {{ app_full_name }}  && snakefmt {{ app_full_name }}" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
