[tool.poetry]
name = "{{ app_full_name }}"
version = {{ app_version | toml_string }}
description = {{ app_description | toml_string }}
readme = "README.md"
{% if license -%}
license = {{ license | toml_string }}
{%- endif %}
{% if full_name -%}
authors = [
    {% if email -%}
        {{ (full_name + " <" + email + ">") | toml_string }}
    {%- else -%}
    {{ full_name | toml_string }}
    {%- endif %}
]
{%- endif %}
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]

[tool.poetry.dependencies]
python = "{{ python_version }}"
snakemake = ">={{ snakemake_version }},<8"
snakebids = ">={{ snakebids_version }}"

[tool.poetry.scripts]
{{ name_slug }} = "{{ name_slug }}.run:main"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
