name: Deploy workflow

on:
  workflow_dispatch:
    inputs:
      comments:
        description: "Comments"
        required: false

jobs:
  release_changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Print author
        run: |
          echo "Author: ${{ github.triggering_actor }}"
          echo "Comments: ${{ github.event.inputs.comments }}"

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref || github.ref_name }}

      - name: Draft change log
        uses: release-drafter/release-drafter@v6
        id: release-drafter
        with:
          commitish: ${{ github.head_ref || github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: Set new release version
        id: prepare-release
        env:
          RD_RELEASE: ${{ steps.release-drafter.outputs.name }}
        run: |
          if [ -n "$RD_RELEASE" ]; then
            NEW_RELEASE="$RD_RELEASE"
          else
            NEW_RELEASE="0.1.0"
          fi
          echo "new_release=$NEW_RELEASE" >> "$GITHUB_OUTPUT"

      - name: Publish change log
        uses: release-drafter/release-drafter@v6
        with:
          commitish: ${{ github.head_ref || github.ref_name }}
          publish: true
          name: ${{ steps.prepare-release.outputs.new_release }}
          tag: v${{ steps.prepare-release.outputs.new_release }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: [release_changelog]
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref || github.ref_name }}

      - name: Fetch tags
        run: |
          git fetch --tags

      - name: Install
        uses: ./.github/actions/install-uv
        id: setup
        with:
          install-dev: "false"

      - name: Build
        run: uv build

      - name: Build and publish
        run: uv publish
