name: Weekly testing and recalibration of test timings

on:
  schedule:
    - cron: "5 3 * * 2"

jobs:
  calibrate-timings:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@v5
      - name: Install
        uses: ./.github/actions/install-uv
        id: setup
      - name: build docker test container
        uses: ./.github/actions/build-test-container
        with:
          python-version: ${{ steps.setup.outputs.python-version }}
          load: true
      - name: Count current number of tests
        id: count
        run: |
          echo "NUM=$(
            uv run poe -q test --co -q --disable-warnings | head -n -2 | wc -l
          )" >> "$GITHUB_OUTPUT"
      - name: Count number of timed tests
        id: timed-count
        run: |
          echo "NUM=$(jq 'keys | length' .test_durations)" >> "$GITHUB_OUTPUT"
      - name: Test with pytest
        if: ${{ steps.count.outputs.NUM != steps.timed-count.outputs.NUM }}
        env:
          HYPOTHESIS_PROFILE: pr
        run: >-
          uv run pytest -n auto --store-durations --clean-durations
          --doctest-modules --ignore=docs
          --ignore=snakebids/project_template --benchmark-disable
      - name: remove spuriously include "Dancefile.inject"
        run: git clean -df
      - name: Check if there are changes
        id: changes
        run: |
          echo "changed=$(git diff-files --quiet && echo 0 || echo 1)" >> "$GITHUB_OUTPUT"
      - name: debug outputs
        run: |
          echo "Current # tests: ${{ steps.count.outputs.NUM }}"
          echo "Current # timed tests: ${{ steps.timed-count.outputs.NUM }}"
          echo "Changes?: ${{ steps.changes.outputs.changed }}"
      - name: Create PR
        if: steps.changes.outputs.changed == 1
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update test timings file
          branch: maint/update-test-timings
          title: Merge updated test timings
          labels: |
            maintenance
            skip_changelog
          body: >
            The number of tests has changed since the last generated test-timings
            file. This PR contains an automatically regenerated file.

  build-cache-env:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v5
      - name: Install
        uses: ./.github/actions/install-uv
        id: setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: build docker test container
        uses: ./.github/actions/build-test-container
        with:
          python-version: ${{ steps.setup.outputs.python-version }}
          load: true

  test:
    runs-on: ubuntu-latest
    needs: [ 'build-cache-env' ]
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
        split: ['1', '2', '3', '4', '5']
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - name: Install
        uses: ./.github/actions/install-uv
        id: setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: build docker test container
        uses: ./.github/actions/build-test-container
        with:
          python-version: ${{ steps.setup.outputs.python-version }}
          load: true

      - name: Test with pytest
        env:
          HYPOTHESIS_PROFILE: pr
        run: >-
          uv run pytest -n auto --splits 5 --group ${{ matrix.split }}
          --doctest-modules --ignore=docs
          --ignore=snakebids/project_template --benchmark-disable
