name: Manual release-drafter update

on:
  workflow_dispatch:
    inputs:
      comments:
        description: "Update release drafter notes"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Print workflow information
        run: |
          echo "Author: ${{ github.triggering_actor }}"
          echo "Comments: ${{ github.event.inputs.comments }}"

      - uses: actions/checkout@v3
        with:
          ref: ${{ steps.extract_branch.outputs.branch }}

      - name: Update changelog
        uses: release-drafter/release-drafter@v5
        id: release-drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commitish: ${{ steps.extract_branch.outputs.branch }}
